header{
    background-color: #E2C2B9;
    color: #F0ECE3; 
    font-family: 'Sacramento', cursive;
}
a {
    color: #8da7b8;
    text-decoration: none;
  }
body{
    background-color: whitesmoke;
    color: #766161;
    font-family: 'Dongle', sans-serif;
    font-size: 1.3rem;
}
a.photo{
    transform: padding 0.5s;
}
a.photo:hover{
    padding: 10px;
}
main{
    background-color: white;
    padding: 16px;
}
.actions{
    font-size: 1.3rem;
}
.comments{
    font-size: 1.5rem;
}
.comment-count{
    font-size: 1.3rem;
}
.finstagram-post{
    margin-bottom: 48px;
}
.finstagram-post .user-info img{
    border-radius: 50%;
}
.personal-comment{
    color: #BBBBBB;
}
.sign{
    color: #BF9270;
    font-size: 1.2 rem;
    font-family: 'Nunito', sans-serif;
    padding-left: 5px;
}