header{
    background-color: #E2C2B9;
    color: #F0ECE3; 
    font-family: 'Sacramento', cursive;
}
a{
    color: #BF9270;
    font-size: 1.2 rem;
    padding-left: 5px;
}
body{
    background-color: whitesmoke;
    color: #766161;
    font-family: 'Dongle', sans-serif;
    font-size: 1.3rem;
}
a.photo{
    transform: padding 0.5s;
}
a.photo:hover{
    padding: 10px;
}
a.sign{
    text-decoration: none;
}
main{
    background-color: white;
    padding: 16px;
}
p{
    margin: 0 auto;
}
.header_fin{
    color: #8da7b8;
    text-decoration: none;
}
.actions{
    font-size: 1.3rem;
}
.comments{
    font-size: 1.5rem;
}
.comment-count{
    font-size: 1.3rem;
}
.finstagram-post{
    margin-bottom: 48px;
}
.finstagram-post .user-info img{
    border-radius: 50%;
}
.personal-comment{
    color: #BBBBBB;
}
.sign{
    font-family: 'Dongle', sans-serif;
    font-size: 1.5 rem;
}
.actions button.user-like{
    border-style: none;
}
.button{
    border-style: none;
}
a.button{
    border-style: solid;
}