<!DOCTYPE html>
<html>
    <head>
        <title> Finstagram </title>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
    </head>
    <body>
        <header>
            <h1>Finstagram</h1>
        </header>
        <main role="main">
            <article class="finstagram-post">
                <div class="user-info">
                    <img src="https://lh5.googleusercontent.com/wA1jYd5529wsDTg0hL_JOBqLLpOl1PiwCg6wyExmSeTnnwEAyPGnXpsWfWxPrJE1nL16ksn06k0OU8-FgYeflHPWs26NVq86A2NjR4Xspshu4aWjRaHw4De_Dt1DUBGDz1QUP8A" alt="mylovelydog_520">
                    <h2>lovelydog_520</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3pbl-6WHsxeeM6C2a58S5Aj2zK59LrlDzNw&usqp=CAU"  alt="cute puppy">
                </a>
                <div class="actions">
                    250 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            lovelydog_520: My lovely dog :D
                        </p>
                    </li>
                </ul>
            </article>
        </main>
    </body>
</html>