<!DOCTYPE html>
<html>
    <head>
        <title> Finstagram </title>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Sacramento&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" href="../../../stylesheets/app.css">
    </head>
    <body>
        <header>
            <h1>Finstagram</h1>
        </header>
        <%= yield %>
    </body>
</html>